<h1>Search Results</h1>

  <% if(@category) %>
  <% if(@books_result.size == 0) %>
    <h2>No Book exists for category "<%= @search_terms %>"</h2>
  <% else %>
    <h2> Your search for Books in category "<%= @search_terms %>" returned <%= pluralize(@books_result.size, 'result') %>.</h2>
    <%= render partial: @books_result,
               locals: {show_details_link: true}%>
  <% end %>
    <% else %>
  <% if(@books_result.size == 0) %>
    <h2>No Book exists by the name "<%= @search_terms %>"</h2>
  <% else %>
    <h2> Your search for the book "<%= @search_terms %>" returned <%= pluralize(@books_result.size, 'result') %>.</h2>
    <%= render partial: @books_result,
               locals: {show_details_link: true}%>
  <% end %>

<% end %>