<style>
  .style{
    float: left;
  }
</style>

<%= div_for(book, :class => "style") do %>
  <h3><%= book.name %><br></h3>
  <%= image_tag(book.image, style:'height:200px;width:150px;padding-right:15px')%><br><br>
  <strong><p>Author: <%= book.author %></p></strong>
  <strong><p>Rating: <%= book.rating %></p></strong>
  <% if show_details_link %>
  <p><%= link_to 'View Details', book %></p>
    <% end %>
<% end %>



