<style>
  .style{
    float: left;
    border-style: ridge;
    padding-left: 5px;
    margin-left: 10px;

  }
  h3{
    padding-top: 9px;
  }

</style>

<%= div_for(tiny_book, :class => "style" ) do %>
  <h3><%= tiny_book.name %><br></h3>
  <strong><p>Author: <%= tiny_book.author %></p></strong>
  <strong><p>Rating: <%= tiny_book.rating %></p></strong>
  <p>Genre: <%= tiny_book.genre.name %></p>
    <p><%= link_to 'View Details', tiny_book %></p>
      <p><%= link_to 'Remove Book', mark_as_added_book_path(tiny_book), remote: true, method: :post %></p>
<% end %><br>