<style>
  div.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 10px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: white;
    border: 3px solid black;
  }
</style>
<div class="sticky">
  <nav class="nav nav-pills nav-fill">
    <a class="nav-item nav-link" href="http://localhost:3000/books"><b>All Books&nbsp;</b></a>
    <% @searchGenres.each do |g| %>
      <a class="nav-item nav-link" href="http://localhost:3000/search?utf8=✓&q=<%=g.name%>&category=Search+by+Category"><b><%= g.name%>&nbsp;</b></a>
    <% end %>
  </nav>
</div>
<%= form_tag(advanced_search_path, method: "get") do %>
  <%= text_field_tag(:p, params[:p]) %>
  <%= hidden_field_tag(:a, @genre_terms) %>
  <%= submit_tag("Search") %>
<% end %>

  <% if(@books.size == 0) %>
    <h2>No Book exists by the name <strong><%= @search_terms %></strong> for category <strong><%= @genre_terms %></strong></h2>
  <% else %>
    <h2>Books by the name <strong><%= @search_terms %></strong> in category <%= @genre_terms %>.</h2>
    <%= render partial: @books,
               locals: {show_details_link: true}%>
  <% end %>
