<!DOCTYPE html>
<html>
  <head>
    <title>Read Online Book Store</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
      body{
        background-color: red;

      }
        .navbar{
          margin-bottom: 20px;
        }
      </style>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<%= render partial: 'shared/header_menu' %>
<h2>Items in Cart</h2>
<% if @books_in_cart && @books_in_cart.empty? %>
  <div id="in_cart"></div>
<p class="empty_cart">Above The cart is empty</p>
    <p id="clear_cart" class="d-none"><%= link_to 'Empty cart', clear_cart_books_path, remote: true, method: :post %></p>

  <% else %>
    <div id="in_cart">    <%= render partial: 'books/tiny_book', collection:  @books_in_cart%>  <% end %>
  </div>
  <p id="empty_cart" class="d-none">Below The cart is empty</p>
<p id="clear_cart"><%= link_to 'Empty cart', clear_cart_books_path, remote: true, method: :post %></p>
  <%= yield %>
  </body>
</html>

